:root {

    --cor-de-fundo: rgb(255, 4, 4);
}
body {
    background-color: var(--cor-de-fundo);

}
    h1 {
        background-color:rgb(255, 4, 4) ;
        }
div{
    display: flex;
    justify-content: space-between;
}
    li{
        font-size: 50px;
        color: black;
    }

