:root {

    --cor-de-fundo: rgb(247, 4, 97);
}
body {
    background-color: var(--cor-de-fundo);

}
    h1 {
        background-color:rgb(255, 4, 4) ;
        }
div{
    display: flex;
    justify-content: space-between;
}


